<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<h1 class="title">Gráficas</h1>

<div class="box box1">
  <apx-chart
       [chart]="options.chart"
       [series]="options.series"
       [stroke]="options.stroke"
       [markers]="options.markers"
       [grid]="options.grid"
       [tooltip]="options.tooltip"
       [colors]="options.colors"
       [dataLabels]="options.dataLabels"
       [labels]="options.labels"
       [title]="options.title"
       [legend]="options.legend"
  ></apx-chart>
  <div class="details">
    <h1>1,500</h1>
    <h2>Pacientes</h2>
  </div>
</div>

<div class="box box2">
  <apx-chart
    [chart]="barOptions.chart"
    [series]="barOptions.series"
    [labels]="barOptions.labels"
    [grid]="barOptions.grid"
    [xaxis]="barOptions.xaxis"
    [yaxis]="barOptions.yaxis"
    [title]="barOptions.title"
    [legend]="barOptions.legend"
    [dataLabels]="barOptions.dataLabels"
  ></apx-chart>
</div>

<div class="box box2">
  <apx-chart
    [chart]="areaOptions.chart"
    [series]="areaOptions.series"
    [stroke]="areaOptions.stroke"
    [xaxis]="areaOptions.xaxis"
    [title]="areaOptions.title"
    [subtitle]="areaOptions.subtitle"
    [fill]="areaOptions.fill"
    [tooltip]="areaOptions.tooltip"
    [colors]="areaOptions.colors"
  ></apx-chart>
</div>


</ion-content>
