<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Consultar Pagos</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar" animated (ionChange) = "searchPago($event)"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item *ngFor="let pagos of searchedPago">
      <ion-avatar slot="start">
        <ion-icon name="folder" style="zoom: 1.5; color: yellow;"></ion-icon>
        <!-- <img src="../../assets/avatar/exp.jpg"> -->
      </ion-avatar>
        <ion-label (click) = "verInfo(pagos.importe,pagos.fechaPago,pagos.recibo)">
            <h3 style="color:rgb(0, 128, 100)">{{pagos.nombre}}</h3>
            <h3>Recibo: {{pagos.recibo}}</h3>
            <h3>Importe: ${{pagos.importe}}</h3>
            <h3>Fecha de Pago: {{pagos.fechaPago}}</h3>
        </ion-label>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col>
      <ion-button (click)="goToHome()" color="danger"
      shape="full" expand="block">Cancelar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
