<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <img src="../../assets/mcpiLogo.jpg" height="150px" width="150px">
    <!-- <ion-button [routerLink]="['/pacientes']">Ver pacientes</ion-button> -->
  </div>
</ion-content>
