ion-content {
    --background: rgb(236, 231, 231);
  
    .title {
      color: rgb(8, 105, 63);
      text-align: center;
    }
  }
  
  .box {
    margin: 15px;
    padding: 25px 20px;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    background-color: rgb(15, 88, 46);
  
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 1px 1px #f7f4f4;
    position: relative;
    border-radius: 5px;
  
    .details {
      position: absolute;
      color: #eee7e7;
      transform: scale(0.8) translate(-10px, 35px);
  
      h1,
      h2 {
        font-weight: 600;
        margin: 5px;
      }
    }
  }
  
  .box1 {
    background-image: linear-gradient(135deg, rgb(198, 202, 200) 10%, #809889 100%);
  }
  
  .box3 {
    padding: 0;
    padding-top: 10px;
  }